//@import url('http://localhost/KwiDF/Resources/CSS/font-awesome.css');
.highcharts-color-0 {
	
	//stroke: #7cb5ec;
  
 
}


.highcharts-background {
	fill:none
	
}

.highcharts-point{stroke-width:0}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
	
}
.highcharts-axis.highcharts-color-0 text {
	fill: #fff !important;
  stroke:none;
  	
}
.highcharts-axis.highcharts-color-1  {
	fill: #fff !important;
  stroke:none;
  	
}
.highcharts-title  {
	fill: #fff !important;
  stroke:none;
  font-size:14px !important
  display:none;	
}

.highcharts-xaxis-grid .highcharts-grid-line {
	stroke-width: 0px;
	stroke:#807f80;
   
}
.highcharts-xaxis .highcharts-tick {
	stroke-width:0px;
stroke:#807f80;


}
.highcharts-minor-grid-line {
	stroke-dasharray: 1, 1;
}


.highcharts-yaxis-grid .highcharts-grid-line {
	stroke-width:0px;
	stroke:#07cdf1;
}

/**************************************************************************/
body{
font-family: "Arial",sans-serif;
font-size:11px;
}
.smallSection{
	margin-top:5px;
	max-width:100%;
	height:calc(100% - 10px);
	position:relative;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	cursor: default;
	padding:0 
	overflow: hidden;
   
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49484d+0,49484d+44,121013+100 */
background: #000; /* Old browsers */
}
.wrapper.smallSection{
	border:1px solid #3d3d3d;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	
	
	
}
.wrapper.smallSection.selected {
	border:1px solid #fff;
	
}
.smallSection .gaugeHolder,
.smallSection .chartHolder{
	position:absolute;
	padding:0;
	 /* height:98px; */ bottom:20px;
	 overflow:hidden;
	  left: 0;
	  right:0;
	  top: 67px;
	  z-index:9;
	  visibility:visible;
	  min-width:100px;


}
.smallSection .chartHolder{top:72px;}
.smallSection .gaugeHolder{

/*bottom:10px;top:-10px;*/
    bottom: 30px;
    top: -31px;
}

.smallSection .gaugeHolder{
    padding: 0;      
       /* height:118px; */
}
.smallSection .gaugeHolder::after{
		content: attr(data-top);
		color: #fff;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		display:block;
		margin-top:5px;
}

.smallSection .gaugeHolder .highcharts-container {
       max-height:calc(100% - 23px);
	  
}
/* .smallSection .chartHolder{height:110px} */


.dataLabels{
		color: #bed730;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		display:block;
		margin-top:5px;
		position:absolute;
		top:0;
	left:0;
z-index:444;
	
	}
.wrapper.smallSection.selected .dataLabels {
    z-index: 10;
}

.smallSection .chartHolder .highcharts-background {
    fill: transparent !important;
}

.smallSection header{ position:relative;
        max-width: 100%; 
    padding:10px 5px 2px 5px;
    overflow: hidden;
   -webkit-border-radius: 12px 12px 0 0;
border-radius: 12px 12px 0 0;
	
}
.smallSection header .target-holder{ position:absolute;right:5px;top:10px; min-width:100px;text-align:right;color:#fff;font-size:12px;}
.smallSection header .target-holder div{display: block; min-height: 22px;}
.smallSection header .target-holder div+div{margin-left:5px;min-width:50px;}
.smallSection header{
	background: #429e2f;
}

.smallSection.down header{
	background: #fe0c36;
}
.smallSection header.red{ background:#800000;} 
.smallSection header.yellow{background:#ddb90a}
.smallSection header.green{background:#429e2f}
.smallSection header.gray{background:#47759e}

.smallSection header h2 {
     margin: 0 0 5px 0;
    padding: 0;
    color: #fff;
    font-size: 1.455em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.smallSection header h2 span{
	font-size: 0.85em;
	font-weight:400;
}

.smallSection header p{
	color: #fff;
    margin: 0;

    font-size: 2.4em;
    font-weight: bold;
	overflow: hidden;
	 white-space: nowrap;
    text-overflow: ellipsis;
}

.smallSection footer {
    position: absolute;
    bottom: 0px;
    padding:5px 3px 3px 3px;
    right: 0px;
    left: 0px;
}
.smallSection footer:before {
    display: block;
    content: '';
    background:#3d3d3d;
    height: 1px;
 position: relative;
    top: -1px;}
.wrapper.smallSection.selected #footer:before {
  background: #717171;}
.smallSection footer span{
	color:#fff;
	font-size:1.2em;
	font-weight: 700;
	 position: relative;
    top: 3px;
    padding-left:18px;
}

.smallSection footer .icon-holder {
	float: right;
	position:relative;
	right:0;
	top:0;
	z-index:9;
}
.smallSection footer .icon-holder button {
    background: transparent;
    border: 0;
    color: #646465;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    margin-left:2px;
    width:20px;
    height:20px;
    display:inline-block;
}

.smallSection footer span::before{
    position: absolute;
    top:-2px;
    left:0px;
    width: 0;
    height: 0;
    content: "\25b2";
    color: #429e2f;
    font-size: 17px;
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #429e2f;*/
       -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
.smallSection footer span.down::before{
   position: absolute;
    top:-2px;
    left:0px;
    width: 0;
    height: 0;
    content: "\25bc";
    color: #fe0c36;
    font-size: 17px;
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #429e2f;*/
       -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

   .smallSection footer span.neutral::before{
	position: absolute;
    top: 1px;
    left: 2px;
    content: "\2194";
    width: 0;
    height: 0;
    font-size: 17px;
    color: #ffb300;
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #429e2f;*/
    -webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
  }
.smallSection footer span.lossup::before{
    position: absolute;
    top:-2px;
    left:0px;
    width: 0;
    height: 0;
    content: "\25b2";
    color: #fe0c36;
    font-size: 17px;
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #429e2f;*/
       -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
.smallSection footer span.lossdown::before{
   position: absolute;
    top:-2px;
    left:0px;
    width: 0;
    height: 0;
    content: "\25bc";
    color: #429e2f;
    font-size: 17px;
    /*border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #429e2f;*/
       -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

text.highcharts-credits {
    display:none;}

.overlay{

 	background: #666666;
    -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.7) inset;
    -moz-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.7) inset;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 66px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    position: absolute;
    border-radius:0 0 11px 11px;
    opacity: .8;
	display:none;
}

.wrapper.smallSection.selected .overlay{
	display:block;
}

.wrapper.smallSection.selected footer{
	z-index:10;
}

.selected  .gaugeHolder ,
.selected  .chartHolder {
    position: absolute;
    z-index: 10;
}

.wrapper.smallSection.selected  footer span,
.wrapper.smallSection.selected  footer .icon-holder button {
	color:#000
}
.smallSection.selected  footer span::before{
	 border-bottom: 10px solid #04fc21;
	     top: -3px;
}

.smallSection.selected.down  footer span::before{
	 border-bottom: 10px solid #fe0c36;
	 
}
.smallSection.selected  footer span.down::before,.smallSection.selected  footer span.up::before{top: -2px !important;}


.smallSection.selected footer > span{
	color:#fff !important;
}

.smallSection footer .icon-holder button.active {
    color: #fff !important;
}

.smallSection footer .icon-holder .icon-switch{
	position: absolute;
	right:25px;
	width: auto;}
.smallSection footer .icon-holder  .icon-switch button {
    position: absolute;
    right: 20px;
}

.lightTheme .smallSection{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9a999c+0,424142+100 */
background: #9a999c; /* Old browsers */
background: -moz-linear-gradient(top,  #9a999c 0%, #424142 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9a999c 0%,#424142 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9a999c 0%,#424142 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9a999c', endColorstr='#424142',GradientType=0 ); /* IE6-9 */
}


.lightTheme .smallSection header{
	background: #9cd191;
}

.lightTheme .smallSection.down header{
	background: #f8b0b0;
}

.lightTheme .smallSection footer .icon-holder button{
	    color: #999;
}

.lightTheme .smallSection header h2,
.lightTheme .smallSection header p{
	    color: #3d3c3e;
}
.lightTheme .smallSection footer span::before{
	border-bottom: 10px solid #9cd191;
}

.lightTheme .smallSection.down footer span::before{
	  border-bottom: 10px solid #f8b0b0;
  }
  
.lightTheme .wrapper.smallSection{
	  border: 1px solid #666;
  }
  
.lightTheme .smallSection footer .icon-holder button.active {
    color: #fff;
}

  .smallSection.selected footer .icon-holder button.active{
	  color: #000;
  }
  

.selected .chartHolder {
    position: absolute;
    z-index: 10;
    top:72px;
    left: 0;
    right: 0;
}

.pushBack{
	z-index:-1 !important; 
}  

rect.highcharts-label-box.highcharts-data-label-box{stroke-width:0 !important; }


text.highcharts-credits{ display:none;}
.smallSection footer span.neutral::before{
position: absolute;
   top:1px;
    left: 2px;
    content: "\f111";
    width: 0;
    height: 0;
   color: #7b7b7b;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    font: 13px FontAwesome;
  }
.uom {
    font-size: 15px !important;
    font-weight: 100 !important;
    color: #fff;
    display: inline-block;
    margin-left: 5PX !important;
    top: -7px !important;
    position: relative;
}

.close-br {
    color: #fff;
    margin: 0;
    font-size: 2.4em;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: -24px;
    display: inline-block;
    margin-left: 2px;
}

.smallSection header p{display:inline-block !important}

